@use '../utils/container';
@use '../utils//colors' as c;

.feature_section {
    margin-top: 100px;
    margin-bottom: 200px;
    position: relative;
    
    a {
        margin-bottom: 200px;
        position: relative;
        display: block;
    }
}

.content {
    height: 480px;
    width: 100%;
    padding: 56px 124px;
    box-sizing: border-box;

    h3 {
        font-size: 1.4rem;
    }
}

.flex {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

    &.flex-end {
        justify-content: flex-end ;
    }
}

.meta {
    display: flex;

    h4 {
        &:last-child {
            margin-left: 1rem;
        }
    }
}

.feature_title {
    position: absolute;
    bottom: -128px;
    font-size: 7rem;
    font-weight: 900;
    line-height: 90px;
    margin: 0;

    .arrow {
        width: 120px;
        height: 80px;
        display: block;
        position: relative;
        overflow: hidden;

        svg {
            position: absolute;
            top: 16px;
            left: -48px;
            width: 108px;
            
        }
    }
}

.featured_video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 480px;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
}

.featured_projects {
    margin-top: 200px;

    button {
        color: white;
        position: relative;
        padding: 20px;
        display: block;
        text-align: left;
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 600;
        border: none;

        span {
            margin-right: 100px;
            display: block;
        }

        &::before, &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 20px;
            width: 35px;
            height: 7px;
            display: block;
            background: white;
            transform: translateY(-50%);
        }

        &::before {
            margin-top: -8px;
        }

        &::after {
            margin-top: 8px;
        }
    }

}

.dark {
    .content {
        color: c.$darkText;
    }

    path {
        fill: c.$darkText;
    }
    .featured_projects {
        button {
            background-color: c.$darkBackground;
        }
    }
    
}

.light {
    .content {
        color: c.$lightText;
    }

    path {
        fill: c.$lightText;
    }

    button {
        background-color: c.$lightBackground;
    }
}